[submodule "plugins/repos/tw5-relink"]
	path = plugins/repos/tw5-relink
	url = https://github.com/flibbles/tw5-relink.git
[submodule "plugins/repos/tw5-uglify"]
	path = plugins/repos/tw5-uglify
	url = https://github.com/flibbles/tw5-uglify.git
[submodule "plugins/repos/streams"]
	path = plugins/repos/streams
	url = https://github.com/saqimtiaz/streams.git
[submodule "plugins/repos/TW5-moment.js"]
	path = plugins/repos/TW5-moment.js
	url = https://github.com/kixam/TW5-moment.js.git
[submodule "plugins/repos/TW5-visjsTimeline"]
	path = plugins/repos/TW5-visjsTimeline
	url = https://github.com/kixam/TW5-visjsTimeline.git
[submodule "plugins/repos/wikilabs"]
	path = plugins/repos/wikilabs
	url = https://github.com/wikilabs/plugins.git
